
//linear gradient des pages des artistes

.wax
    {background: -webkit-gradient(linear, left top, right bottom, from(#CE97D5), to(#ECCAF0)); }
.pp
  {    background: -webkit-gradient(linear, left top, right bottom, from(rgb(66, 68, 68)), to(#7e7d7e)); }
  .metro
  {    background: -webkit-gradient(linear, left top, right bottom, from( #1A8B58), to(#89E0B9 )); }
  .neneh
  {    background: -webkit-gradient(linear, left top, right bottom, from( #78434D ), to(#E25E76 )); }
  .gorillaz
  {    background: -webkit-gradient(linear, left top, right bottom, from( #242316 ), to(#b3b35c)); }
  .red
  {    background: -webkit-gradient(linear, left top, right bottom, from( #7a0000  ), to(#6e5151 )); }
  .africa
  {    background: -webkit-gradient(linear, left top, right bottom, from( #b8c233), to(#0CFF76  )); }
  .chinese
  {    background: -webkit-gradient(linear, left top, right bottom, from( #444444 ), to(#565657 )); }
  .jh
  {    background: -webkit-gradient(linear, left top, right bottom, from(#f54a07 ), to(#8df505  )); }
  .mc
  {    background: -webkit-gradient(linear, left top, right bottom, from(#DCDF00 ), to(#f58012 )); }

  